<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Astronautical Space Station Investigating Vaccum Enteprises - A Shitty Simulator (M.A.S.S.I.V.E - A.S.S)</title>
    <link href="local.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <table id=resources>
            <caption>Resources</caption>
            <thead>
                <tr>
                    <th :title="key" v-for="(resource, key) in Resources">
                        <div><img :src="Icons[key]">{{key}}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class=resource :title="key" v-for="(resource, key) in Resources">
                        {{ numFmt(resource, 2) }}
                    </td>
                </tr>
            </tbody>
        </table>

        <table id=structures>
            <caption>Structures</caption>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Count </th>
                    <th> Buy </th>
                    <th> Production Rate </th>
                    <th> Automatic </th>
                </tr>
            </thead>
            <tbody>
                <tr class="structure" v-for=" structure in Structures ">
                    <td>{{ structure.name }}</td>
                    <td>{{ structure.count }}</td>
                    <td>
                        <button @click="construct(structure, 1)" :disabled="structure.cost * 1 >= Resources.Credits">Launch</button>
                        <span> Cost: {{ numFmt(structure.cost, 2) }}</span>
                    </td>
                    <td><span class=progress :style="{ width: structure.current_timer*10 + '%' }"></span></td>
                    <td><input type=checkbox v-model="structure.auto"></td>
                </tr>
            </tbody>
        </table>

        <canvas id="c"></canvas>
    </div>
    <script src="sleepless.js "></script>
    <script src="rplc8.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script defer src="local.js "></script>
</body>

</html>